
# Copy this file to .env and fill in your own values
# cp .env.example .env


# Hopsworks 
# Get your API key at: https://app.hopsworks.ai
# -> Settings -> API Keys -> Create API Key

HOPSWORKS_API_KEY=
HOPSWORKS_PROJECT=home_credit_mlops